.ipynb_checkpoints

*/.ipynb_checkpoints/*

pictures/
catboost_info/
CatBoost & ARIMA validation/

loss_demo.ipynb
holiday_demo.ipynb
*.xlsx
!DataBase.xlsx

Validator_br3_act_test_max.ipynb
Validator_br3_act_test_min.ipynb